/*-------------------------------*\
CONSTANTS
\*-------------------------------*/
:root {
    --dark-color: #242022;
    --bright-color: #F8F0FB;
    --accent-color: #FF0000;
    --accent-color-active: #E60000;
    --bg-color-medium: #D2D2D2;
    --bg-color-dark: #B4B4B4;
    --bg-color-verydark: #707070;
    --bg-color-ultradark: #473a40;
  }
/*-------------------------------*\
GENERAL
\*-------------------------------*/
html{
    overscroll-behavior: none;
}
/*-------------------------------*\
BODY
\*-------------------------------*/
body {
    margin: 0;


    background-image: url("../images/background.png");
    background-size: cover;

    cursor: default;
}
/*-------------------------------*\
HEADER
\*-------------------------------*/
.navbar{
    top: 0;

    position: fixed;

    width: 100vw;
    height: 7vh;
    align-items: center;

    display: flex;
    flex-direction: row;

    background-color: var(--dark-color);  
    border-bottom-left-radius: 10px;  
    border-bottom-right-radius: 5px;

    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    transition: top 0.25s;
}
.navbar a{
    position: relative;

    display: block;
    margin-left: 1.75%;

    color: var(--bg-color-medium);
    font-size: 1em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    text-decoration: none;

    transition: 0.15s;
}
.navbar a:hover{
    color: var(--accent-color);
    font-size: 1.05em;
} 
.navbar a:active{
    color: var(--accent-color-active);
    font-size: 0.97em;
}
.navbar .socials{
    margin-left: auto;
    margin-right: 1.75%;

    position: relative;
    align-self: center;

    height: 4vh;
    min-width: 10vw;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-right: 0.175rem;

    border-radius: 25px;
    
    background-color: var(--bright-color);
}
.navbar .socials a img{    
    height: 3.5vh;
    width: auto;

    display: block;

    transition: 0.15s;
}
.navbar .socials a img:hover{
    height: calc(3.5vh * 1.10);
    width: auto;
}
.navbar .socials a img:active{
    height: calc(3.5vh * 0.97);
    width: auto;
}
/*-------------------------------*\
CONTENT
\*-------------------------------*/
.content {
    position: relative;
    margin-top: 7vh;

    max-width: 100vw;
    min-height: calc(100vh - 7vh - 10vh);

    font-family: 'Courier New', Courier, monospace;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.content-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: -1;
}
.content .typingbar{
    padding: 7vh;

    height: 8vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
}
.content .typingbar p{
    font-size: 3em;
    color: var(--bright-color);
    white-space: nowrap;
    overflow: hidden;
    border-right: 4px var(--bright-color);
    width: 0;
    animation: typing 4s steps(40, end), blink-caret 0.75s step-end infinite;
}
@keyframes typing{
    from {width: 0;}
    to {width: 100%;}
}
@keyframes blink-caret{
    from, to {border-color: transparent;}
    50% {border-color: var(--bright-color);}
}
/*-------------------------------*\
FOOTER
\*-------------------------------*/
footer{
    bottom: 0;

    font-family: 'Courier New', Courier, monospace  ;
}
.bottom {
    max-width: 100vw;
    height: 10vh;

    display: flex;
    justify-content: center; 
    align-items: center; 

    background-color: var(--dark-color);
    border-top-left-radius: 10px;  
    border-top-right-radius: 10px;

    transition: top 0.25s;
}
.bottom p, .bottom a{
    color: var(--bg-color-verydark);
    margin: 0 1%;

    transition: 0.15s;
}
.bottom a:hover{
    color: var(--bg-color-medium);
}
.bottom img{
    height: 77%;
    width: calc(height/1.1);
} 

