/*-------------------------------*\
CONSTANTS
\*-------------------------------*/
:root {
    --dark-color: #242022;
    --bright-color: #F8F0FB;
    --accent-color: #FF0000;
    --accent-color-active: #E60000;
    --bg-color-medium: #D2D2D2;
    --bg-color-dark: #B4B4B4;
    --bg-color-verydark: #707070;
    --bg-color-ultradark: #473a40;
  }
/*-------------------------------*\
GENERAL
\*-------------------------------*/

/*-------------------------------*\
BODY
\*-------------------------------*/
