/*----------------------------------------*\
    #CONSTANTS
\*----------------------------------------*/
:root 
{
    --font-primary: 'Space Grotesk', sans-serif;
    --bg-main: #222222;
    --bg-secondary: #F4F4F6;
    --font-fill: #D62839;
    --fontcol-dark: black;
    --fontcol-bright: #E6E6E9;
    --fontcol-light: #919191;
}

/*----------------------------------------*\
    #GENERAL
\*----------------------------------------*/
body 
{
    font-family: var(--font-primary);       /* Set font */

    background-color: var(--bg-secondary);  /* Set background color */
    color: var(--fontcol-dark);             /* Set font color */

    margin: 0;                              /* Remove margin */
    padding: 0;                             /* Remove padding */

    display: flex;                          /* Set display */
    flex-direction: column;                 /* Set flex direction */
    min-height: 100px;                      /* Set min height */
}

/*----------------------------------------*\
    #HEADER
\*----------------------------------------*/
.header 
{
    width: 100%;                            /* Full width */
    height: 75px;                           /* Set height */

    border-bottom-left-radius: 10px;        /* Set border radius */
    border-bottom-right-radius: 10px;       /* Set border radius */

    background-color: var(--bg-main);       /* Set background color */

    position: fixed;                        /* Set position */
    top: 0;                                 /* Set position y-axis */
    left: 0;                                /* Set position x-axis */
}
/*----------------------------------------*\
    #HEADER > .navbar
\*----------------------------------------*/
.header .navbar
{
    display: flex;                          /* Set display */
    justify-content: center;                /* Set justify content */
    align-items: center;                    /* Set align items */

    height: 100%;                           /* Set height */
}
.header .navbar ul
{
    list-style: none;                       /* Remove list style */
    display: flex;                          /* Set display */
    gap: 20px;                              /* Set gap */   
}
.header .navbar a
{
    text-decoration: none;                   /* Remove text decoration */
    color: var(--fontcol-light);             /* Set font color */
    font-size: medium;                       /* Set font size */
    transition: color 0.3s;                  /* Set transition */
}

/*----------------------------------------*\
    #FOOTER
\*----------------------------------------*/
.footer 
{
    width: 100%;                            /* Full width */
    height: 150px;                          /* Set height */

    border-top-left-radius: 10px;           /* Set border radius */
    border-top-right-radius: 10px;          /* Set border radius */

    background-color: var(--bg-main);       /* Set background color */

    position: fixed;                        /* Set position */
    bottom: 0;                              /* Set position y-axis */
    left: 0;                                /* Set position x-axis */
}